* {
  box-sizing: border-box;
}

@font-face {
  font-family: silkscreen;
  src: url(fonts/slkscr.ttf);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(
    180deg,
    #64beff -50%,
    #6e96ff 69.71%,
    #2a65ff 150%
  );
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer {
  position: absolute;
  background-color: #333;
  top: 0px;
  left: 178px;
  font-family: silkscreen;
  font-size: 14px;
  color: white;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  margin: 0;
  width: 44px;
  height: 16px;
  outline: 2px solid #fff;
  z-index: 6;
}

.game-container {
  position: absolute;
  width: 400px;
  height: 208px;
  background: #333;
  transform: scale(3);
  image-rendering: pixelated;
  outline: 4px solid #fff;
  overflow: hidden;
}

.shadow {
  position: absolute;
  width: 400px;
  height: 208px;
  background: url(images/maps/shadowUp.png);
  transform: scale(1);
  image-rendering: pixelated;
  overflow: hidden;
  z-index: 5;
}

.shadowBig {
  top: -40px;
  left: 0;
  position: absolute;
  width: 400px;
  height: 208px;
  background: url(images/maps/shadowDown.png);
  transform: scale(3);
  image-rendering: pixelated;
  overflow: hidden;
  z-index: 5;
}

.gameInterface {
  position: absolute;
  width: 400px;
  height: 208px;
  background: none;
  transform: scale(3);
  image-rendering: pixelated;
  overflow: hidden;
  z-index: 6;
}

.mapLower {
  position: absolute;
  background: url(images/maps/MapLower.png);
  transform: scale(1);
  image-rendering: pixelated;
  z-index: -2;
  top: -176px;
  left: -1888px;
  width: 2400px;
  height: 2400px;
  transition: transform 0.2s;
  transition-timing-function: linear;
}

.mapUpper {
  position: absolute;
  background: url(images/maps/MapUpper.png);
  transform: scale(1);
  image-rendering: pixelated;
  z-index: 4;
  top: -176px;
  left: -1888px;
  width: 2400px;
  height: 2400px;
  transition: transform 0.2s;
  transition-timing-function: linear;
}

/* Characters */
.grid-cell {
  position: absolute;
  width: 32px;
  height: 32px;
}
.Character {
  transition: transform 0.2s;
  transition-timing-function: linear;
  z-index: 2;
}
.Character.you {
  z-index: 3;
}
.Character.you .Character_you-arrow {
  display: block;
}
.Character_you-arrow {
  display: none;
  position: absolute;
  top: -10px;
  left: 4px;
  width: 7px;
  height: 5px;
  background: url(images/characters/arrow.png) no-repeat no-repeat;
}
.Character_shadow {
  background: url(images/characters/shadow.png) no-repeat no-repeat;
  top: -16px;
  left: -7;
}
.Character_sprite {
  overflow: hidden;
  top: -17px;
  left: -7;
  background: url(images/characters/0.png);
}
@keyframes walk {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -400%;
  }
}
.Character[data-char="zero"][data-direction="right"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/0.png);
  background-position-x: 0px;
  background-position-y: 96px;
}
.Character[data-char="zero"][data-direction="right"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/0.png);
  background-position-x: 0px;
  background-position-y: 96px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="zero"][data-direction="left"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/0.png);
  background-position-x: 0px;
  background-position-y: 32px;
}
.Character[data-char="zero"][data-direction="left"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/0.png);
  background-position-x: 0px;
  background-position-y: 32px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="zero"][data-direction="up"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/0.png);
  background-position-x: 0px;
  background-position-y: 64px;
}
.Character[data-char="zero"][data-direction="up"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/0.png);
  background-position-x: 0px;
  background-position-y: 64px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="zero"][data-direction="down"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/0.png);
  background-position-x: 0px;
  background-position-y: 0px;
}
.Character[data-char="zero"][data-direction="down"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/0.png);
  background-position-x: 0px;
  background-position-y: 0px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="one"][data-direction="right"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/1.png);
  background-position-x: 0px;
  background-position-y: 96px;
}
.Character[data-char="one"][data-direction="right"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/1.png);
  background-position-x: 0px;
  background-position-y: 96px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="one"][data-direction="left"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/1.png);
  background-position-x: 0px;
  background-position-y: 32px;
}
.Character[data-char="one"][data-direction="left"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/1.png);
  background-position-x: 0px;
  background-position-y: 32px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="one"][data-direction="up"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/1.png);
  background-position-x: 0px;
  background-position-y: 64px;
}
.Character[data-char="one"][data-direction="up"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/1.png);
  background-position-x: 0px;
  background-position-y: 64px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="one"][data-direction="down"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/1.png);
  background-position-x: 0px;
  background-position-y: 0px;
}
.Character[data-char="one"][data-direction="down"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/1.png);
  background-position-x: 0px;
  background-position-y: 0px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="two"][data-direction="right"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/2.png);
  background-position-x: 0px;
  background-position-y: 96px;
}
.Character[data-char="two"][data-direction="right"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/2.png);
  background-position-x: 0px;
  background-position-y: 96px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="two"][data-direction="left"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/2.png);
  background-position-x: 0px;
  background-position-y: 32px;
}
.Character[data-char="two"][data-direction="left"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/2.png);
  background-position-x: 0px;
  background-position-y: 32px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="two"][data-direction="up"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/2.png);
  background-position-x: 0px;
  background-position-y: 64px;
}
.Character[data-char="two"][data-direction="up"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/2.png);
  background-position-x: 0px;
  background-position-y: 64px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="two"][data-direction="down"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/2.png);
  background-position-x: 0px;
  background-position-y: 0px;
}
.Character[data-char="two"][data-direction="down"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/2.png);
  background-position-x: 0px;
  background-position-y: 0px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="three"][data-direction="right"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/3.png);
  background-position-x: 0px;
  background-position-y: 96px;
}
.Character[data-char="three"][data-direction="right"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/3.png);
  background-position-x: 0px;
  background-position-y: 96px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="three"][data-direction="left"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/3.png);
  background-position-x: 0px;
  background-position-y: 32px;
}
.Character[data-char="three"][data-direction="left"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/3.png);
  background-position-x: 0px;
  background-position-y: 32px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="three"][data-direction="up"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/3.png);
  background-position-x: 0px;
  background-position-y: 64px;
}
.Character[data-char="three"][data-direction="up"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/3.png);
  background-position-x: 0px;
  background-position-y: 64px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="three"][data-direction="down"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/3.png);
  background-position-x: 0px;
  background-position-y: 0px;
}
.Character[data-char="three"][data-direction="down"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/3.png);
  background-position-x: 0px;
  background-position-y: 0px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="four"][data-direction="right"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/4.png);
  background-position-x: 0px;
  background-position-y: 96px;
}
.Character[data-char="four"][data-direction="right"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/4.png);
  background-position-x: 0px;
  background-position-y: 96px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="four"][data-direction="left"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/4.png);
  background-position-x: 0px;
  background-position-y: 32px;
}
.Character[data-char="four"][data-direction="left"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/4.png);
  background-position-x: 0px;
  background-position-y: 32px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="four"][data-direction="up"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/4.png);
  background-position-x: 0px;
  background-position-y: 64px;
}
.Character[data-char="four"][data-direction="up"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/4.png);
  background-position-x: 0px;
  background-position-y: 64px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="four"][data-direction="down"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/4.png);
  background-position-x: 0px;
  background-position-y: 0px;
}
.Character[data-char="four"][data-direction="down"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/4.png);
  background-position-x: 0px;
  background-position-y: 0px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="five"][data-direction="right"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/5.png);
  background-position-x: 0px;
  background-position-y: 96px;
}
.Character[data-char="five"][data-direction="right"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/5.png);
  background-position-x: 0px;
  background-position-y: 96px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="five"][data-direction="left"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/5.png);
  background-position-x: 0px;
  background-position-y: 32px;
}
.Character[data-char="five"][data-direction="left"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/5.png);
  background-position-x: 0px;
  background-position-y: 32px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="five"][data-direction="up"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/5.png);
  background-position-x: 0px;
  background-position-y: 64px;
}
.Character[data-char="five"][data-direction="up"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/5.png);
  background-position-x: 0px;
  background-position-y: 64px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="five"][data-direction="down"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/5.png);
  background-position-x: 0px;
  background-position-y: 0px;
}
.Character[data-char="five"][data-direction="down"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/5.png);
  background-position-x: 0px;
  background-position-y: 0px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="six"][data-direction="right"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/6.png);
  background-position-x: 0px;
  background-position-y: 96px;
}
.Character[data-char="six"][data-direction="right"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/6.png);
  background-position-x: 0px;
  background-position-y: 96px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="six"][data-direction="left"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/6.png);
  background-position-x: 0px;
  background-position-y: 32px;
}
.Character[data-char="six"][data-direction="left"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/6.png);
  background-position-x: 0px;
  background-position-y: 32px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="six"][data-direction="up"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/6.png);
  background-position-x: 0px;
  background-position-y: 64px;
}
.Character[data-char="six"][data-direction="up"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/6.png);
  background-position-x: 0px;
  background-position-y: 64px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="six"][data-direction="down"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/6.png);
  background-position-x: 0px;
  background-position-y: 0px;
}
.Character[data-char="six"][data-direction="down"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/6.png);
  background-position-x: 0px;
  background-position-y: 0px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="seven"][data-direction="right"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/7.png);
  background-position-x: 0px;
  background-position-y: 96px;
}
.Character[data-char="seven"][data-direction="right"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/7.png);
  background-position-x: 0px;
  background-position-y: 96px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="seven"][data-direction="left"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/7.png);
  background-position-x: 0px;
  background-position-y: 32px;
}
.Character[data-char="seven"][data-direction="left"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/7.png);
  background-position-x: 0px;
  background-position-y: 32px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="seven"][data-direction="up"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/7.png);
  background-position-x: 0px;
  background-position-y: 64px;
}
.Character[data-char="seven"][data-direction="up"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/7.png);
  background-position-x: 0px;
  background-position-y: 64px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="seven"][data-direction="down"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/7.png);
  background-position-x: 0px;
  background-position-y: 0px;
}
.Character[data-char="seven"][data-direction="down"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/7.png);
  background-position-x: 0px;
  background-position-y: 0px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="eight"][data-direction="right"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/8.png);
  background-position-x: 0px;
  background-position-y: 96px;
}
.Character[data-char="eight"][data-direction="right"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/8.png);
  background-position-x: 0px;
  background-position-y: 96px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="eight"][data-direction="left"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/8.png);
  background-position-x: 0px;
  background-position-y: 32px;
}
.Character[data-char="eight"][data-direction="left"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/8.png);
  background-position-x: 0px;
  background-position-y: 32px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="eight"][data-direction="up"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/8.png);
  background-position-x: 0px;
  background-position-y: 64px;
}
.Character[data-char="eight"][data-direction="up"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/8.png);
  background-position-x: 0px;
  background-position-y: 64px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="eight"][data-direction="down"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/8.png);
  background-position-x: 0px;
  background-position-y: 0px;
}
.Character[data-char="eight"][data-direction="down"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/8.png);
  background-position-x: 0px;
  background-position-y: 0px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="nine"][data-direction="right"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/9.png);
  background-position-x: 0px;
  background-position-y: 96px;
}
.Character[data-char="nine"][data-direction="right"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/9.png);
  background-position-x: 0px;
  background-position-y: 96px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="nine"][data-direction="left"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/9.png);
  background-position-x: 0px;
  background-position-y: 32px;
}
.Character[data-char="nine"][data-direction="left"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/9.png);
  background-position-x: 0px;
  background-position-y: 32px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="nine"][data-direction="up"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/9.png);
  background-position-x: 0px;
  background-position-y: 64px;
}
.Character[data-char="nine"][data-direction="up"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/9.png);
  background-position-x: 0px;
  background-position-y: 64px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.Character[data-char="nine"][data-direction="down"][data-walking="no"]
  .Character_sprite {
  background: url(images/characters/9.png);
  background-position-x: 0px;
  background-position-y: 0px;
}
.Character[data-char="nine"][data-direction="down"][data-walking="yes"]
  .Character_sprite {
  background: url(images/characters/9.png);
  background-position-x: 0px;
  background-position-y: 0px;
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
.stillScreen {
  position: absolute;
  transform: scale(3);
  image-rendering: pixelated;
  z-index: 4;
  width: 400px;
  height: 208px;
}
.scrollScreen {
  position: absolute;
  transform: scale(3);
  image-rendering: pixelated;
  z-index: 5;
  width: 400px;
  height: 208px;
}
.still {
  background: url(images/startScreen/startScreenStill.png);
  z-index: 4;
  width: 400px;
  height: 208px;
  image-rendering: pixelated;
}
.animScroll {
  background: url(images/startScreen/startScreenScroll.png);
  animation: scrollScreen 10s steps(1000) infinite;
  animation-delay: 0s;
  z-index: 6;
  width: 400px;
  height: 208px;
  image-rendering: pixelated;
}
@keyframes scrollScreen {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -114%;
  }
}
.button {
  padding-top: 0px;
  width: 52px;
  height: 20px;
  position: absolute;
  border-color: transparent;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 5px;
  top: 80px;
  background: url(images/startScreen/button_up.png);
  transform: scale(1.5);
}
.b1 {
  left: 100px;
}
.b2 {
  left: 260px;
}
.buttons {
  position: absolute;
  transform: scale(3);
  image-rendering: pixelated;
  z-index: 15;
  width: 400px;
  height: 208px;
}
.skinPreview {
  border: none;
  background: url(images/characters/0.png);
  position: absolute;
  width: 32px;
  height: 32px;
  z-index: 10;
  left: 190px;
  top: 60px;
  transform: scale(2);
}
.gameTitle {
  border: none;
  background: url(images/startScreen/gameTitle.png);
  position: absolute;
  width: 400px;
  height: 100px;
  z-index: 10;
  left: 8px;
  top: 15px;
  transform: scale(1);
}

/* votingCard */
.VotingCard {
  transition: transform 0.2s;
  transition-timing-function: linear;
}

.VotingCard_sprite {
  background: url(images/items/voting_card.png);
  width: 16px;
  height: 16px;
  animation: itemFloat 0.8s linear infinite alternate-reverse;
}
.VotingCard_shadow {
  background: url(images/items/item_shadow.png) no-repeat no-repeat;
}

/* gun */
.Gun {
  transition: transform 0.2s;
  transition-timing-function: linear;
}

.Gun_sprite {
  background: url(images/items/gun.png);
  width: 16px;
  height: 16px;
  animation: itemFloat 0.8s linear infinite alternate-reverse;
}
.Gun_shadow {
  background: url(images/items/item_shadow.png) no-repeat no-repeat;
}

/* flashlight */
.Flashlight {
  transition: transform 0.2s;
  transition-timing-function: linear;
}

.Flashlight_sprite {
  background: url(images/items/flashlight.png);
  width: 16px;
  height: 16px;
  animation: itemFloat 0.8s linear infinite alternate-reverse;
}
.Flashlight_shadow {
  background: url(images/items/item_shadow.png) no-repeat no-repeat;
}

/* magnifyingGlass */
.MagnifyingGlass {
  transition: transform 0.2s;
  transition-timing-function: linear;
}

.MagnifyingGlass_sprite {
  background: url(images/items/magnifyingGlass.png);
  width: 16px;
  height: 16px;
  animation: itemFloat 0.8s linear infinite alternate-reverse;
}
.MagnifyingGlass_shadow {
  background: url(images/items/item_shadow.png) no-repeat no-repeat;
}

/* halo */
.Halo {
  transition: transform 0.2s;
  transition-timing-function: linear;
}

.Halo_sprite {
  background: url(images/items/halo.png);
  width: 16px;
  height: 16px;
  animation: itemFloat 0.8s linear infinite alternate-reverse;
}
.Halo_shadow {
  background: url(images/items/item_shadow.png) no-repeat no-repeat;
}

@keyframes itemFloat {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(5px);
  }
}

.SceneTransition {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 20;
  opacity: 0;
  animation: scene-transition-fade-in 0.2s forwards;
}

.SceneTransition.fade-out {
  animation: scene-transition-fade-out 0.5s forwards;
}

@keyframes scene-transition-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scene-transition-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
