* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(
    180deg,
    #64beff -50%,
    #6e96ff 69.71%,
    #2a65ff 150%
  );
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  position: relative;
  width: 400px;
  height: 208px;
  background: #333;
  transform: scale(3);
  image-rendering: pixelated;
  outline: 4px solid #fff;
  overflow: hidden;
}

.mapLower {
  position: absolute;
  background: url(images/maps/MapLower.png);
  transform: scale(1);
  image-rendering: pixelated;
  z-index: -2;
  top: -176px;
  left: -1888px;
  width: 2400px;
  height: 2400px;
  transition: transform 0.5s;
}

.mapUpper {
  position: absolute;
  background: url(images/maps/MapUpper.png);
  transform: scale(1);
  image-rendering: pixelated;
  z-index: 4;
  top: -176px;
  left: -1888px;
  width: 2400px;
  height: 2400px;
  transition: transform 0.5s;
}

/* Characters */
.grid-cell {
  position: absolute;
  width: 32px;
  height: 32px;
}
.Character {
  transition: transform 0.5s;
  z-index: 2;
}
.Character.you {
  z-index: 3;
}
.Character.you .Character_you-arrow {
  display: block;
}
.Character_you-arrow {
  display: none;
  position: absolute;
  top: -10px;
  left: 4px;
  width: 7px;
  height: 5px;
  background: url(images/characters/arrow.png) no-repeat no-repeat;
}
.Character_shadow {
  background: url(images/characters/shadow.png) no-repeat no-repeat;
  top: -16px;
  left: -7;
}
.Character_sprite {
  overflow: hidden;
  top: -17px;
  left: -7;
  background: url(images/characters/0.png);
}
.animWalk {
  animation: walk 0.3s steps(4) infinite;
  animation-delay: 0s;
}
@keyframes walk {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -400%;
  }
}
.Character[data-direction="right"] .Character_sprite {
  background-position-x: 0px;
  background-position-y: 96px;
}
.Character[data-direction="left"] .Character_sprite {
  background-position-x: 0px;
  background-position-y: 32px;
}
.Character[data-direction="up"] .Character_sprite {
  background-position-x: 0px;
  background-position-y: 64px;
}
.Character[data-direction="down"] .Character_sprite {
  background-position-x: 0px;
  background-position-y: 0px;
}
.stillScreen {
  position: absolute;
  transform: scale(3);
  image-rendering: pixelated;
  z-index: 4;
  width: 400px;
  height: 208px;
}
.scrollScreen {
  position: absolute;
  transform: scale(3);
  image-rendering: pixelated;
  z-index: 5;
  width: 400px;
  height: 208px;
}
.still {
  background: url(images/startScreen/startScreenStill.png);
  z-index: 4;
  width: 400px;
  height: 208px;
  image-rendering: pixelated;
}
.animScroll {
  background: url(images/startScreen/startScreenScroll.png);
  animation: scrollScreen 10s steps(1000) infinite;
  animation-delay: 0s;
  z-index: 6;
  width: 400px;
  height: 208px;
  image-rendering: pixelated;
}
@keyframes scrollScreen {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -114%;
  }
}
